// coolors colour palette ハッピーランチ by mizoi-r
$amber: #FFBF00;
$cabaret: #E83F6F;
$jelly-bean: #2274A5;
$viridian: #32936F;
$white: #FFFFFF;

// coolors colour palette Site by taelorgray
$nile-blue: #1A535C;
$puerto-rico: #4ECDC4;
$sugar-cane: #F7FFF7;
$bittersweet: #FF6B6B;
$kournikova: #FFE66D;
